<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  link_to('Districts', districts_path),
  link_to(@ward.name, @ward),
  @parish.name
] %>

<div class="PageHeader">
  <h1 class="PageHeader-heading"><%=@parish.name%></h1>
</div>

<%= render 'partials/map', map_data: @map_data, sectors: @sectors %>

<h2>Initiatives</h2>
<ul>
  <% @parish.initiatives.each do |initiative| %>
    <li><%=link_to initiative.name, initiative%></li>
  <% end %>
</ul>

