<%= render 'partials/breadcrumb', items: [
  link_to('All', root_path),
  link_to(@district.name, @district),
  link_to(@ward.name, @ward),
  @parish.name
] %>

<%= render 'partials/map', map_data: @map_data, sectors: @sectors, tabs: [
  {
    id: 'initiatives',
    title: 'Initiatives',
    icon: 'lightbulb-multiple',
  }
] do %>
  <div class="sidebar-pane Explore-navigation" id="initiatives">
    <h1 class="sidebar-header">Initiatives</h1>
    <% initiatives = @parish.initiatives.published %>
    <% initiatives.each do |initiative| %>
      <%=link_to initiative.name, initiative%>
      <% unless initiatives.last == initiative %>
        <hr />
      <% end %>
  <% end %>
  </div>
<% end %>
