<% if initiative.websites.any? %>
  <div class="u-mb">
    <% initiative.websites.each do |website| %>
      <%= link_to inline_icon(website.icon), website.website, target: '_blank' %>
    <% end %>
  </div>
<% end %>

