<h1>Editing Initiative</h1>

<%= render 'form', initiative: @initiative, groups: @groups, initiative_statuses: @initiative_statuses, taxonomy_hierarchy_json: @taxonomy_hierarchy_json %>

<%= link_to 'Show', @initiative %> |
<%= link_to 'Back', initiatives_path %>
