<%= render 'partials/breadcrumb', items: [
  link_to('Admin', admin_path),
  link_to('Initiatives', initiatives_path),
  @initiative.name
] %>

<h1>Editing Initiative</h1>

<%= render 'form', initiative: @initiative, groups: @groups, initiative_statuses: @initiative_statuses, taxonomy_hierarchy_json: @taxonomy_hierarchy_json %>
