<div class="InitiativeView-title">
  <h1 class="InitiativeView-titleText"><%=link_to(@initiative.name, @inititative)%></h1>
  <button class="InitiativeView-close">X</button>
</div>

<div class="Initiative">
  <%=render 'initiative_info', initiative: @initiative%>
</div>

<%=link_to 'View Full Details', @initiative %>
