<% title 'Add a community-based project' %>

<% breadcrumb [
  link_to('Home', root_path),
  link_to('Initiatives', initiatives_path),
  title
] %>

<div class="Initiative-introduction">
  Adding your project to the site will take you around two minutes and will give your project much greater visibility to residents, councillors and climate-related organisations. You can edit your project details at any point by selecting ‘edit’ in the list-view of all projects.
</div>

<%= render 'form', initiative: @initiative, groups: @groups, initiative_statuses: @initiative_statuses, taxonomy_hierarchy_json: @taxonomy_hierarchy_json %>
