<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  link_to(@district.name, @district),
  link_to(@ward.name, @ward),
  link_to(@parish.name, @parish),
  @initiative.name
] %>

<div class="PageHeader">
  <h1 class="PageHeader-heading"><%=@initiative.name%></h1>
</div>

<div class="Initiative">
  <%=render 'initiative_info', initiative: @initiative, show_map: true%>
</div>
