<%
set_meta_tags og: {
  type:     'website',
  url:      request.url,
  image:    @initiative.images.map do |image|
    {
      _: variant_url(image.variant(resize_to_limit: [200, 200])),
      width: 200,
      height: 200,
    }
  end
}
%>


<% title @initiative.name %>
<% description @initiative.description_what %>

<div class="u-mbL">
  <%= render 'partials/breadcrumb', items: [
    link_to('Home', root_path),
    link_to(@district.name, @district),
    link_to(@ward.name, @ward),
    link_to(@parish.name, @parish),
    title
  ] %>
</div>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading"><%= title %></h1>
  <p>Status: <%=@initiative.status_name%></p>
</div>

<div class="Initiative">
  <%=render 'initiative_info', initiative: @initiative, show_map: true%>
</div>
