<% title 'FAQ' %>
<% breadcrumb [
  link_to('Home', root_path),
  title
] %>

<h2>How is the CN2030 map funded?</h2>
<p class="u-mb">Currently, through grants from the Transition Network, Transition Stroud and the National Lottery Community Fund.</p>

<h2>Who is this map for?</h2>
<p class="u-mb">This map is for anyone who:
  <ul class="u-listBulleted u-mb">
    <li>wants a full and navigable picture of what communities are doing to combat climate change within the Stroud District.</li>
    <li>Is thinking about starting a project and doesn’t want to reinvent the wheel</li>
    <li>knows of projects that are working towards that end might also want to contribute that knowledge.</li>
  </ul>
</p>

<h2>Why the focus on Stroud District?</h2>
<p class="u-mb">The idea originated here in Stroud. Keeping it local means that we can, with limited resources, achieve something that works. The platform can be extended further geographically and even nationally. If you’re interested in using this tool for your local area, please get in touch.</p>

<h2>Why nine top-level categories?</h2>
<p class="u-mb">We use a conventional set of sectors to describe sustainability initiatives covering Buildings, Energy, Food, Nature, Materials, Transport, and Waste/Circular Economy. To these, we have added two important sectors - Influence and Enable – for projects that don’t directly contribute to carbon neutrality but attempt to change behaviours or lay down the infrastructure necessary for change.</p>

<h2>What sort of projects are you looking for?</h2>
<p class="u-mb">You can add your project if it satisfies or will satisfy the following:
  <ul class="u-listBulleted u-mb">
    <li>makes (or will lead to) reductions in carbon emissions</li>
    <li>provides inspiration, information or learning for others</li>
    <li>is led by or involves local communities, or provides opportunities for local community participation</li>
  </ul>
</p>

<h2>What is an initiative or project?</h2>
<p class="u-mb">We use the words initiative and project interchangeably. Your project can be short and finite (e.g., carrying out a survey that is subsequently useful for others), or it can be an ongoing permanent initiative or social enterprise.</p>

<h2>Why community and not individual action?</h2>
<p class="u-mb">While individual decisions and actions contribute hugely to carbon neutrality, we want to help build and support a network of community-based initiatives.</p>

<h2>Why categorise in such detail?</h2>
<p class="u-mb">We ask you to categorise your project as deeply as possible using four levels, going from sector through to an end solution, e.g., Waste | Waste Avoidance | Repairing | Repair Café. When there are many more projects on the map, a complete categorisation will help users readily find projects related to their own. If your initiative implements several solutions, we’d like you to list all of them, increasing the chance of other groups connecting with you.</p>

<h2>Why should I share? </h2>
<p class="u-mb">
  <ul class="u-listBulleted u-mb">
    <li>Mainly to inspire others into action</li>
    <li>Showcase what you’ve achieved</li>
    <li>Attract people who are interested in doing similar things</li>
    <li>Reach and influence a wider audience</li>
    <li>Feel part of a growing network of diverse activities working towards a common goal</li>
  </ul>
</p>

<h2>Do I have to create an account?</h2>
<p class="u-mb">If you want to add an initiative to the map, you will need to create an account. By doing so, you’ll be providing some personally identifiable data, so please look at our Privacy Policy.</p>

<h2>How much does it cost?</h2>
<p class="u-mb">It’s free!! If your initiative doesn’t have a website, it’s a great way to create a web presence that you can point people to.</p>

<h2>Can I add a project that’s just an idea right now?</h2>
<p class="u-mb">We want to hear of your twinkle in the eye projects but ask that you’re already discussing the idea with a group of people and you’re actively progressing it. If you’ve already passed that point, we’re looking at adding your project at any of its life. We’d even like to have details of projects that have stalled – there might be people out there who are interested in restarting or learning from them!</p>

<h2>How easy is it to create a project?</h2>
<p class="u-mb">We’ve tried to make it easy for you to add a project taking you step by step. We know that sometimes you won’t have all the information we’re asking you for, so you can add as much as you can and return to complete your profile. You can keep your project in draft until you’re happy to go. We’ll review your project when it’s published and might even suggest ways in which you might add to. We may also contact you to ask how your project is going and whether your profile might need an update.</p>

<h2>Do I have to estimate my carbon savings?</h2>
<p class="u-mb">No. We realise that it’s sometimes difficult or impossible to estimate this, especially when your project starts. However, as we want only to add projects that actively contribute to carbon neutrality, please tell us how you will achieve this. Perhaps your project isn’t primarily about reducing CO2, so asking the how and even trying the how much can give you a new perspective.</p>

<p class="u-mb">Savings in emissions can come in many guises: reducing how much of something is done (e.g. reduced car use); doing it differently (e.g. car sharing); technical innovation (e.g. using an EV); or avoidance of it (e.g. public transport).</p>

<p class="u-mb">Savings = emissions from the old way minus emissions from the new way.</p>

<h2>Can I add images to a project?</h2>
<p class="u-mb">Yes.

<h2>Do you reject projects?</h2>
<p class="u-mb">We review (and may reject) projects based on:
  <ul class="u-listBulleted u-mb">
    <li>How they engage community action – we won’t include individual (a single person or household) projects</li>
    <li>Whether they contribute to CO2 reduction</li>
    <li>How sharable and transferable they are with other communities and groups</li>
    <li>Diversity and inclusivity</li>
  </ul>
</p>

<h2>When does it get published?</h2>
<p class="u-mb">You publish your project immediately or keep it in draft form, but we will review any posted content. We may get back to you with further queries or points of clarification.</p>

<h2>Can I edit my project?</h2>
<p class="u-mb">Yes, and we encourage you to do just that! It’s important to us that you update your project profile as and when it changes.</p>
