<%= form_with(model: group, local: true, html: {class: 'FormField-form'}) do |f| %>
  <%= render 'partials/form_errors', resource: group %>

  <%= render 'groups/form_fields', f: f %>

  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
