<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  link_to('Groups', groups_path),
  @group.name
] %>

<h1>Editing Group</h1>

<%= render 'form', group: @group, group_types: @group_types %>
