<% title 'Contact' %>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading"><%= title %></h1>
</div>

<p class="u-mb">Want to get involved?<br /> Send us an email <a href="mailto:support@carbonneutralmap.org.uk">support@carbonneutralmap.org.uk</a></p>
