<% title 'Contact' %>
<% breadcrumb [
  link_to('Home', root_path),
  title
] %>

<p class="u-mb">Want to get involved?<br /> Send us an email <a href="mailto:support@carbonneutralmap.org.uk">support@carbonneutralmap.org.uk</a></p>
