.Alerts {
  display: flex;
}

.Alert {
  padding: 5px;
  width: 100%;
}

.Alert ul {
  padding-left: 15px;
}

.Alert li {
  font-weight: bold;
}

.Alert--danger {
  background-color: rgb(246, 220, 222);
  color: rgb(146, 40, 48);
}

.Alert--info {
  background-color: rgb(156, 209, 255);
  color: rgb(15, 55, 89);
}

@media (--bp-mobile) {

  .Alert {
    padding: 10px;
  }
}
