.Alert {
  padding: 5px;

  @media (--bp-mobile) {
    padding: 10px;
  }
}

.Alert--danger {
  background-color: rgb(246, 220, 222);
  color: rgb(146, 40, 48);
}

.Alert--info {
  background-color: rgb(156, 209, 255);
  color: rgb(15, 55, 89);
}
