.Button {
  background-color: $color-blue;
  border: solid 1px $color-blue;
  border-radius: 3px;
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 24px;

  &:active {
    position: relative;
    top: 1px;
  }
}

/*
 * Modifiers
 */

.Button--success {
  background-color: $color-blue;
}

.Button--large {
  font-size: 16px;
  padding: 16px 30px;
}

.ButtonInput {
  background-color: white;
  display: flex;
  position: relative;

  input[type=search] {
    border: 1px solid rgba(102, 102, 102, 0.3);
    border-radius: 3px 0 0 3px;
    border-right-style: hidden;
    flex: 1;
    font-size: 14px;
    height: 46px;
    padding: 13px;
    width: 100%;
  }

  .Button {
    border: 1px solid rgba(102, 102, 102, 0.3);
    border-left-style: hidden;
    border-radius: 0 3px 3px 0;
    display: inline;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}

.Button--link {
  cursor: pointer;
}

.Button--next {
  cursor: pointer;

  span {
    margin-right: 10px;
  }
}

.Button--back {
  cursor: pointer;

  span {
    margin-left: 10px;
    text-decoration: underline;
  }
}
