.Explore {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 145px); /* Viewport height minus header height */
  position: relative;
}

.Explore-navigation {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 2;
}

.Explore-navigation a {
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 3px;
  text-decoration: none;
}

.Explore-navigation a:last-of-type {
  margin-right: 0;
}

.Explore-navigation a.Explore-navigation-selected {
  background-color: transparent;
  color: #ff9700;
  font-weight: bold;
}

.Explore-map {
  flex: 1;
}

.Explore-panel {
  display: flex;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.Explore-initiative {
  display: none;
  flex: 1;
}

.Explore-panel_initiative_visible .Explore-map {
  display: none;
}

.Explore-panel_initiative_visible .Explore-initiative {
  display: block;
}

.Initiative-images_scroller {
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100vw - 30px);
}

@media (--bp-mobile) {

  .Explore-initiative {
    overflow-y: auto;
  }

  .Explore-panel_initiative_visible .Explore-map {
    display: block;
  }

  .Explore-panel_initiative_visible .Explore-initiative {
    display: block;
  }

  .Initiative-images_scroller {
    width: calc(50vw - 35px);
  }
}

.InitiativeView {
}

.InitiativeView-title {
  display: flex;
  flex-basis: auto;
}

.InitiativeView-titleText {
  flex: 1;
}

.InitiativeView-close {
  align-self: center;
  margin-left: 10px;
}

.InitiativeView-scroll p {
  margin: 0;
}

.InitiativeView-disableScrolling {
}

.InitiativeView-scroll {
  height: 400px;
  overflow-y: auto;
}

.sidebar-tabs > li.active,
.sidebar-tabs > ul > li.active {
  background-color: transparent;
  color: #ff9700;
}

.sidebar-tabs svg {
  height: 24px;
  margin: 4px;
  width: 24px;
}

.sidebar-tabs,
.sidebar-content {
  background-color: rgba(255, 255, 255, 0.7);
}

.sidebar-header {
  background-color: transparent;
  color: black;
}
