.Explore {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 145px); /* Viewport height minus header height */
  position: relative;
}

.Explore-navigation {
  background-color: #fff;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
}

.Explore-navigation a {
  background-color: #00dfe9;
  color: white;
  cursor: pointer;
  flex: 1;
  margin-right: 2px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
}

.Explore-navigation a::before {
  content: "\22c5";
  font-size: 3em;
  font-weight: 900;
  line-height: 0.55em;
  margin: 0;
  vertical-align: middle;
}

.Explore-navigation a:last-of-type {
  margin-right: 0;
}

.Explore-navigation a.Explore-navigation-selected {
  background-color: #ff9700;
}

.Explore-map {
  flex: 1;
}

.Explore-panel {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.Explore-initiative {
  display: none;
  flex: 1;
}

.Explore-panel_initiative_visible .Explore-map {
  display: none;
}

.Explore-panel_initiative_visible .Explore-initiative {
  display: block;
}

.Initiative-images_scroller {
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100vw - 30px);
}

@media (--bp-mobile) {

  .Explore-initiative {
    overflow-y: auto;
  }

  .Explore-panel_initiative_visible .Explore-map {
    display: block;
  }

  .Explore-panel_initiative_visible .Explore-initiative {
    display: block;
  }

  .Initiative-images_scroller {
    width: calc(50vw - 35px);
  }
}

.InitiativeView {
}

.InitiativeView-title {
  display: flex;
  flex-basis: auto;
}

.InitiativeView-titleText {
  flex: 1;
}

.InitiativeView-close {
  align-self: center;
  margin-left: 10px;
}

.InitiativeView-scroll p {
  margin: 0;
}

.InitiativeView-disableScrolling {
}

.InitiativeView-scroll {
  height: 400px;
  overflow-y: auto;
}
