/*
 * Extends SUIT CSS components: form-field
 * https://github.com/simonsmith/suitcss-components-form-field
 */

:root {
  --FormField-input-color: $color-text;
  --FormField-input-borderColor: lightgray;
  --FormField-borderColorFocus: $color-orange;
  --FormField-input-borderWidth: 1px;
  --FormField-input-padding: 10px;
}

.Form {
}

.FormField {
  margin-bottom: $space-base;
}

.FormField-label {
  display: block;
}

.FormField-input {
  background-clip: padding-box;

  &[type="date"] {
    appearance: none;
  }

  &:not([type="checkbox"]):not([type="radio"]) {
    height: var(--FormField-height);
  }

  &:focus {
    border-color: var(--FormField-borderColorFocus);
    box-shadow: var(--FormField-boxShadow);
    outline: none;
  }
}

/* stylelint-disable plugin/selector-bem-pattern */

textarea.FormField-input {
  min-height: 100px;
}

/* stylelint-enable */

.field_with_errors {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.field_with_errors {
  color: rgb(146, 40, 48);
}

.field_with_errors input {
  border-color: rgb(246, 220, 222);
}

.FormField [type=checkbox] {
  width: 20px;
}

.FormField-checkbox {
  align-items: baseline;
  display: flex;
}

.FormField-actions {
  margin-top: 30px;
  text-align: center;
}

.FormField--required label::after {
  color: rgb(146, 40, 48);
  content: " *";
}
