.FormField {
}

.FormField-form {
  display: flex;
  flex-wrap: wrap;
}

.FormField {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin: 2px;
}

.FormField-actions {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin: 2px;
}

@media (--bp-tablet) {

  .FormField-actions * {
    max-width: 50%;
  }

  .FormField {
    flex-basis: 48%;
  }
}
