/*
 * Extends SUIT CSS components: form-field
 * https://github.com/simonsmith/suitcss-components-form-field
 */
$error_color: rgb(146, 40, 48);

:root {
  --FormField-input-color: $color-text;
  --FormField-input-borderColor: lightgray;
  --FormField-borderColorFocus: $color-orange;
  --FormField-input-borderWidth: 1px;
  --FormField-input-padding: 10px;
}

.Form {
}

.FormField {
  margin-bottom: $space-base;
}

.FormField-label {
  display: block;
}

.FormField-input {
  background-clip: padding-box;

  &[type="date"] {
    appearance: none;
  }

  &:not([type="checkbox"]):not([type="radio"]) {
    height: var(--FormField-height);
  }

  &:focus {
    border-color: var(--FormField-borderColorFocus);
    box-shadow: var(--FormField-boxShadow);
    outline: none;
  }
}

/* stylelint-disable plugin/selector-bem-pattern */

textarea.FormField-input {
  min-height: 100px;
}

/* stylelint-enable */

.field_with_errors {
  color: $error_color;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.field_with_errors input {
  border-color: rgb(246, 220, 222);
}

.FormField [type=checkbox] {
  width: 20px;
}

.FormField-checkbox {
  align-items: baseline;
  display: flex;
}

.FormField-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}

.FormField--required label::after {
  color: rgb(146, 40, 48);
  content: " *";
}

.FormField-narrow {
  display: inline-block;
  width: 100px;
}

.FormFieldOverlay {
  position: relative;
}

.FormFieldOverlay-content {
  margin: 10px;
  margin-right: 15px;
  position: absolute;
  right: 0;
}

.FormFieldOverlay-error {
  color: $error_color;
}

.FormFieldOverlay-blink {
  animation: blinker 1.5s linear infinite;
  color: green;
}

@keyframes blinker {

  50% {
    opacity: 0;
  }
}
