.Header {
  border-bottom: 1px solid lightgray;
  flex: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Header-logo {
  vertical-align: top;
}

.Header-main {
  align-items: center;
  display: flex;
}

.Header-content {
  flex-grow: 1;
  margin-left: 15px;
}

.Header-strapline {
  margin: 0 5px;
}
