.Header {
  border-bottom: 1px solid lightgray;
  flex: none;
  padding: 0;
}

.Header-logo {
  flex: 1;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

.Header-logo img {
  height: 100px;
  width: 100px;
}

.Header-main {
  align-items: center;
  display: flex;
}

.Header-content {
  flex-grow: 1;
  margin-left: 15px;
}

.Header-strapline {
  margin: 0 5px;
}
