.Header {
  flex: none;
  padding: 0;
}

.Header-logo {
  display: block;
  height: 85px;
  width: 150px;
}

.Header-main {
  align-items: center;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin-bottom: 20px;
}

@media (--bp-tablet-landscape) {

  .Head-main {
    background-size: 400px;
  }

  .Header-logo {
    height: 110px;
    width: 200px;
  }
}

.Header-content {
  flex-grow: 1;
}
