
.AddInitiativeSolution-lookup {
}

.AddInitiativeSolution-breadcrumb {
}

.AddInitiativeSolution-breadcrumb span {
  cursor: pointer;
  white-space: nowrap;
}

.AddInitiativeSolution-groupResults {
  flex-direction: column;
}

.AddInitiativeSolution-groupContainer {
  overflow: hidden;
}

.AddInitiativeSolution-clear {
}

.AddInitiativeSolution-removeSolution {
  float: right;
}

.AddInitiativeSolution-group {
  flex: 10 0 auto;
  padding: 2px;
}

.AddInitiativeSolution-group ul {
  padding: 0;
}

.AddInitiativeSolution-group li,
.AddInitiativeSolution-solutions li {
  list-style-type: none;
  padding: 3px;
}

.AddInitiativeSolution-group li:nth-child(even),
.AddInitiativeSolution-solutions li:nth-child(even) {
  background-color: #fbfafa;
}

.AddInitiativeSolution-group li:nth-child(odd),
.AddInitiativeSolution-solutions li:nth-child(odd) {
  background-color: #f5f5f5;
}

.AddInitiativeSolution-solutionSelector li {
  cursor: default !important;
}

.AddInitiativeSolution-addSolution,
.AddInitiativeSolution-removeSolution,
.AddInitiativeSolution-group li {
  cursor: pointer;
}

.AddInitiativeSolution-solutions,
.AddInitiativeSolution-group {
  background-color: white;
  border: 1px solid;
  padding: 2px;
}

.AddInitiativeSolution-groupSelected {
  display: none;
}

.Taxonomy-item {
  display: flex;
}

.Taxonomy-itemName {
  flex: auto;
}

.Taxonomy-itemAction {
}

.AddInitiativeSolution-proposedSolutionLabel {
  display: flex;
  flex-direction: column;
}

.AddInitiativeSolution-proposedSolutionTitle {
  flex: 1;
}

.AddInitiativeSolution-proposedSolutionInput {
  flex: 1;
  width: auto;
}
