.SolutionSearchResults {
  margin-bottom: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.SolutionSearch-sector {
  margin: 5px 0;
}

.SolutionSearch-result {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 5px;

  &:nth-child(odd) {
    background-color: #f4f4f4;
  }

  span {
    flex: 1;
  }
}

.ChosenSolutions {
  border: 2px solid #f4f4f4;
  margin-top: 10px;
}

.ChosenSolution {

  padding: 5px;

  &:nth-child(odd) {
    background-color: #f4f4f4;
  }
}

.SolutionSearchResultHeading {
  display: flex;
  margin-top: 10px;
  padding: 5px;

  span {
    flex: 1;
  }

  button {
    cursor: pointer;
  }
}
