
.AddInitiativeSolution-lookup {
}

.AddInitiativeSolution-breadcrumb {
}

.AddInitiativeSolution-breadcrumb span {
  cursor: pointer;
  white-space: nowrap;
}

.AddInitiativeSolution-groupResults {
  flex-direction: column;
}

.AddInitiativeSolution-groupContainer {
  overflow: hidden;
}

.AddInitiativeSolution-clear {
}

.AddInitiativeSolution-removeSolution {
  font-size: 0;
}

.Solution-item {
  display: flex;
}

.Solution-itemDescription {
  flex: auto;
}

.AddInitiativeSolution-group {
  flex: 10 0 auto;
  padding: 2px;
}

.AddInitiativeSolution-group ul {
  margin: 0;
  padding: 0;
}

.AddInitiativeSolution-group h2 {
  margin: 5px;
  padding-left: 5px;
}

.AddInitiativeSolution-group li {
  line-height: 25px;
  list-style-type: none;
  padding: 3px;
  padding-left: 5px;
}

.AddInitiativeSolution-solutions li {
  list-style-type: none;
  padding: 3px;
  padding-left: 5px;
}

.AddInitiativeSolution-group li:nth-child(even),
.AddInitiativeSolution-solutions li:nth-child(even) {
  background-color: #fbfafa;
}

.AddInitiativeSolution-group li:nth-child(odd),
.AddInitiativeSolution-solutions li:nth-child(odd) {
  background-color: #f5f5f5;
}

.AddInitiativeSolution-solutionSelector li {
  cursor: default !important;
}

.AddInitiativeSolution-addSolution,
.AddInitiativeSolution-removeSolution,
.AddInitiativeSolution-group li {
  cursor: pointer;
}

.AddInitiativeSolution-solutions,
.AddInitiativeSolution-group {
  background-color: white;
  border: 1px solid;
  padding: 0;
}

.AddInitiativeSolution-groupSelected {
  display: none;
}

.Taxonomy-item {
  display: flex;
}

.Taxonomy-itemName {
  flex: auto;
}

.Taxonomy-itemAction {
  display: flex;
}

.AddInitiativeSolution-proposedSolutionLabel {
  display: flex;
  flex-direction: column;
}

.AddInitiativeSolution-proposedSolutionTitle {
  flex: 1;
}

.AddInitiativeSolution-proposedSolutionInput {
  flex: 1;
  margin-right: 5px;
  width: auto;
}

button.AddInitiativeSolution-addSolution {
  align-self: flex-end;
}
