.Initiative-lead_group {
  border: 3px solid lightgray;
  margin-top: 20px;
  padding: 20px;
}

.Initiative-website {
  text-decoration: none;
}

.Initiative-rejected {
  opacity: 0.5;
}

.Initiative-status {
  text-align: right;
}
