.Nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 20px;
  padding: 7px;
  width: 100%;
}

.Nav a {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.8em;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

@media (--bp-mobile) {

  .Nav a {
    margin-right: 33px;
  }
}

.Nav a::before {
  font-size: 3em;
  font-weight: 900;
  line-height: 0.55em;
  margin: 0;
  vertical-align: middle;
}

.Nav a::active {
  color: $color-orange;
}

.Nav-secondary {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  margin-top: -12px;
}

.Header-contentMobile {
  display: flex;
  flex: 1;
  position: relative;
}

.Header-contentDesktop {
  display: none;
  flex-grow: 1;
  margin-left: 15px;
}

.Nav-main,
.Nav-supplementary {
  flex: 1;
}

.Nav-main a {
  display: flex;
}

.Nav-main svg {
  height: 18px;
  width: 18px;
}

.Nav-main span {
  padding-left: 10px;
}

.Nav-supplementary {
  display: flex;
  justify-content: flex-end;
}

.Nav-supplementary a {
  margin: 0 10px;
}

.Nav-burger {
  align-self: flex-end;
  height: 32px;
  width: 32px;
}

.Nav-flyover {
  display: none;
}

.Nav.Nav-open .Nav-flyover {
  background-color: #fff;
  display: block;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10000;
}

.Nav-flyover a {
  display: block;
  text-align: left;
}

@media (--bp-tablet-landscape) {

  .Nav-supplementary,
  .Nav-main {
    display: flex;
  }

  .Nav-supplementary a::before {
    content: " ";
  }

  .Nav {
    flex-direction: row;
    height: 43px;
  }

  .Header-contentMobile {
    display: none;
  }

  .Header-contentDesktop {
    display: block;
  }
}

.Nav .SignIn-link {
  margin-right: 15px;
}

@media (--bp-tablet-landscape) {

  .Nav .SignIn-link {
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
  }
}

.SignIn-icon {
  height: 30px;
  vertical-align: middle;
  width: 30px;
}
