.Nav {
  background-color: #ff9700;
  color: #fff;
  display: flex;
  height: 29px;
  padding: 7px;
}

.Nav a {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.8em;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

.Nav a::before {
  font-size: 3em;
  font-weight: 900;
  line-height: 0.55em;
  margin: 0;
  vertical-align: middle;
}

.Nav a::active {
  color: #ff9700;
}

.Nav-main a::before {
  content: "\22c5";
}

.Nav-main,
.Nav-supplementary {
  display: none;
  flex: 1;
}

.Nav-supplementary {
  display: flex;
  justify-content: flex-end;
}

.Nav-supplementary a {
  margin: 0 10px;
}

.Nav-flyover {
  display: none;
}

.Nav.Nav-open .Nav-flyover {
  background-color: #ff9700;
  display: block;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 34px;
  z-index: 600;
}

.Nav-flyover a {
  display: block;
  text-align: left;
}

@media (--bp-tablet-landscape) {

  .Nav-supplementary,
  .Nav-main {
    display: flex;
  }

  .Nav-supplementary a::before {
    content: " ";
  }
}
