.PageHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PageHeader-container {
  background: linear-gradient(#fff, #00dee9);
  padding: 30px 30px;
}

.PageHeader-heading {
  margin: 0 auto;
  padding-bottom: 10px;
}
