.sponsors {
  padding-top: 20px;
}

.sponsors-heading {
  margin-bottom: 10px;
}

.sponsors-logos {
  display: flex;
  flex-direction: row;

  img {
    height: 40px;
    mix-blend-mode: lighten;
  }
}

.sponsors-group {
  display: flex;
  flex-direction: column;
}

.sponsors-logo {
  align-items: center;
  flex: 1;
  margin: 10px;
  text-align: center;
}

@media (--bp-desktop) {

  .sponsors-logo {
    margin: 20px;
  }

  .sponsors-logos {
    flex-direction: row;
  }

  .sponsors-group {
    flex-direction: row;
  }
}
