<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  'Districts'
] %>


<div class="PageHeader">
  <h1 class="PageHeader-heading">Districts</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr data-content="District">
        <td><%= link_to district.name, district %></td>
      </tr>
    <% end %>
  </tbody>
</table>
