<%= render 'partials/breadcrumb', items: [
  link_to('All', root_path),
  @district.name
] %>

<%= render 'partials/map', map_data: @map_data, sectors: @sectors, tabs: [
  {
    id: 'wards',
    title: 'Wards',
    icon: 'map-marker',
  }
] do %>
  <div class="sidebar-pane Explore-navigation" id="wards">
    <h1 class="sidebar-header">Wards</h1>
  <% @district.wards.each do |ward| %>
    <%=link_to ward.name, ward%>
    <% unless @district.wards.last == ward %>
      <hr />
    <% end %>
  <% end %>
  </div>
<% end %>
