<% title 'Privacy Policy' %>
<% breadcrumb [
  link_to('Home', root_path),
  title
] %>

<p class="u-mb">
The CN2030 Mapping Group is a Transition Stroud Action Group and operates using its Privacy Policy.  <a href="https://transitionstroud.org/contact-us/privacy-policy/" target="_blank">https://transitionstroud.org/contact-us/privacy-policy/</a>
</p>
