<% title 'About' %>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading"><%= title %></h1>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia; Non quam nostram quidem, inquit Pomponius iocans; Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere. Dat enim intervalla et relaxat. Sed ad bona praeterita redeamus. </p>

<p>Si enim ad populum me vocas, eum. Illa videamus, quae a te de amicitia dicta sunt. Mihi enim erit isdem istis fortasse iam utendum. Teneo, inquit, finem illi videri nihil dolere. <i>Nonne igitur tibi videntur, inquit, mala?</i> Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. <a href="http://loripsum.net/" target="_blank">Confecta res esset.</a> <a href="http://loripsum.net/" target="_blank">Eaedem res maneant alio modo.</a> His similes sunt omnes, qui virtuti student levantur vitiis, levantur erroribus, nisi forte censes Ti. </p>

<p>Aut haec tibi, Torquate, sunt vituperanda aut patrocinium voluptatis repudiandum. Quod ea non occurrentia fingunt, vincunt Aristonem; Duo Reges: constructio interrete. Quorum sine causa fieri nihil putandum est. Si quae forte-possumus. <i>Bestiarum vero nullum iudicium puto.</i> Quos quidem tibi studiose et diligenter tractandos magnopere censeo. <a href="http://loripsum.net/" target="_blank">Pugnant Stoici cum Peripateticis.</a> Nam prius a se poterit quisque discedere quam appetitum earum rerum, quae sibi conducant, amittere. Aut, Pylades cum sis, dices te esse Orestem, ut moriare pro amico? Conferam avum tuum Drusum cum C. Hic ambiguo ludimur. </p>
