<% title 'About' %>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading"><%= title %></h1>
</div>

<p class="u-mb">The Initiative Map is a community maintained platform to connect groups engaged in initiatives working towards a Carbon Neutral Stroud District by 2030.</p>

<p class="u-mb">The initiatives cover activities aimed at enabling or building solutions, or engaging communities to promote their adoption. They will cover several different sectors, relevant to community based action.</p>

<p class="u-mb">To enable your participation in this mapping exercise, we want to capture key data about your initiative to enhance the fidelity of searching. This will enable the development of a network of groups engaged in similar initiatives.</p>

<p class="u-mb">Our goal is to bring people together to learn from each other’s carbon reduction initiatives.</p>
