/*
 * Extends SUIT CSS base
 * https://github.com/suitcss/base
 */

@font-face {
  font-display: fallback;
  font-family: "fira_sansregular";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/firasans-regular-webfont.woff2") format("woff2"),
    url("../fonts/firasans-regular-webfont.woff") format("woff"),
    url("../fonts/firasans-regular-webfont.svg#fira_sansregular") format("svg");
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: $color-text;
  font-family: "fira_sansregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  height: 100%;
  line-height: 1.5;
}

a {
  color: $color-text;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
}

textarea {
  resize: vertical;
}
