<h1>Editing Group Website</h1>

<%= render 'form', group: @group, group_website: @group_website %>

<%= link_to 'Show', [@group, @group_website] %> |
<%= link_to 'Back', group_group_websites_path(@group) %>
