<p>
  <strong>Website:</strong>
  <%= @group_website.website %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_website.group_id %>
</p>

<%= link_to 'Edit', edit_group_group_website_path(@group, @group_website) %> |
<%= link_to 'Back', group_group_websites_path(@group) %>
