<%= render 'partials/breadcrumb', items: [
  link_to('Admin', admin_path),
  'Group Types'
] %>

<h1>Group Types</h1>

<%= link_to 'New Group Type', new_group_type_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_types.each do |group_type| %>
      <tr>
        <td><%= group_type.name %></td>
        <td><%= link_to 'Edit', edit_group_type_path(group_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
