<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading">Editing Initiative Status</h1>
</div>

<%= render 'form', initiative_status: @initiative_status %>

<%= link_to 'Show', @initiative_status %> |
<%= link_to 'Back', initiative_statuses_path %>
