<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  link_to('Districts', districts_path),
  link_to(@district.name, @district),
  @ward.name
] %>

<div class="PageHeader">
  <h1 class="PageHeader-heading"><%=@ward.name%></h1>
</div>

<%= render 'partials/map', map_data: @map_data, sectors: @sectors %>

<h2>Parishes</h2>
<ul>
  <% @ward.parishes.each do |parish| %>
    <li><%=link_to parish.name, parish%></li>
  <% end %>
</ul>
