<%= render 'partials/breadcrumb', items: [
  link_to('Home', root_path),
  link_to('Districts', districts_path),
  link_to(@district.name, @district),
  @ward.name
] %>

<%= render 'partials/map', map_data: @map_data, sectors: @sectors, tabs: [
  {
    id: 'parishes',
    title: 'Parishes',
    icon: 'map-marker',
  }
] do %>
  <div class="sidebar-pane Explore-navigation" id="parishes">
    <h1 class="sidebar-header">Parishes</h1>
  <% @ward.parishes.each do |parish| %>
    <%=link_to parish.name, parish%>
    <% unless @ward.parishes.last == parish %>
      <hr />
    <% end %>
  <% end %>
  </div>
<% end %>
