
/* @import "normalize.css"; */

@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "leaflet-gesture-handling/dist/leaflet-gesture-handling.css";
@import "./base/variables";
@import "./components/alert";
@import "./components/breadcrumb";
@import "./components/button";
@import "./components/collection-item";
@import "./components/content";
@import "./components/explore";
@import "./components/header";
@import "./components/initiative";
@import "./components/form-field";
@import "./components/initiative-location-picker";
@import "./components/initiative-solution-picker";
@import "./components/nav";
@import "./components/page_header";

@font-face {
  font-family: "fira_sansregular";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/firasans-regular-webfont.woff2") format("woff2"),
    url("../fonts/firasans-regular-webfont.woff") format("woff"),
    url("../fonts/firasans-regular-webfont.svg#fira_sansregular") format("svg");
}

body {
  color: #4c4c4c;
  font-family: "fira_sansregular";
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
}

section {
  margin-bottom: 10px;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
}

.u-hidden {
  display: none;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=tel] {
  font-size: 17px;
  height: 40px;
  line-height: 40px;
}

input[type=checkbox] {
  height: 44px;
  width: 44px;
}
