<% content_for :body do %>
  <div class="PageHeader-container">
    <div class="u-mbL">
      <%= render 'partials/breadcrumb' %>
    </div>

    <div class="PageHeader u-mbL">
      <h1 class="PageHeader-heading"><%= title %></h1>
    </div>
  </div>
  <div class="Content-container">
    <%= yield %>
  </div>
<% end %>

<%= render 'layouts/base' %>
